.container {
    height: 50vh;
    margin: 35rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .cell {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
  }
  .cell-1 {
    background: deepskyblue;
  }
  .cell-2 {
    background: orangered;
  }
  .cell-3 {
    background: royalblue;
  }
  .cell-4 {
    background: gold;
  }
  .cell-5 {
    background: blueviolet;
  }
  .cell-6 {
    background: limegreen;
  }
  .cell-7 {
    background: coral;
  }
  .cell-8 {
    background: lightseagreen;
  }
  .cell-9 {
    background: maroon;
  }
  .cell-10 {
    background: deepskyblue;
  }
  .cell-11 {
    background: orangered;
  }
  .cell-12 {
    background: royalblue;
  }
  .cell-13 {
    background: gold;
  }
  .cell-14 {
    background: blueviolet;
  }
  .cell-15 {
    background: limegreen;
  }
  .cell-16 {
    background: coral;
  }
  .cell-17 {
    background: lightseagreen;
  }
  .cell-18 {
    background: maroon;
  }
  .cell-19 {
    background: deepskyblue;
  }
  .cell-20 {
    background: orangered;
  }
  .cell-21 {
    background: royalblue;
  }
  .cell-22 {
    background: gold;
  }
  .cell-23 {
    background: blueviolet;
  }
  .cell-24 {
    background: limegreen;
  }
  .cell-25 {
    background: whitesmoke;
  }
  